<!DOCTYPE html>
<html ng-app="app">
<head lang="es">
    <meta charset="UTF-8">
    <title>SEGURIDAD ALIMENTARIA PAGINA DE INICIO</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css" />
    <script type="text/javascript" src="/public/js/angular.js"></script>
    <script type="text/javascript" src="/public/js/ubigeo.js"></script>
</head>
    <!--<body ng-init="data='Hola desde angular'">-->
    <body ng-controller="UbiGeoCtrl">

        <div class="container">
            <h1>Listas desplegables</h1>
            <fieldset>
                <legen>Ubicaciones geograficas</legen>

                <label>Departementos : </label>
                <select ng-model="modelDepartamento" ng-options="d.codigoDepartamento as d.descripcionDepartamento for d in departamento"></select>

                <label>Provincias :</label>
                <!--<select ng-model="modelProvincia" ng-options="p.codigoProvincia as p.descripcionProvincia for p in provincia"></select>-->
                <select ng-model="modelProvincia">
                    <option ng-repeat="p in provincia | filter:{codigoDepartamento:modelDepartamento}" value="{{p.codigoProvincia}}">
                        {{p.descripcionProvincia}}
                    </option>
                </select>

                <label>Distritos : </label>
                <select ng-model="modelDistrito" ng-options="dis.codigoDistrito as dis.descripcionDistrito for dis in distrito"></select>

            </fieldset>
            <p> Departamento {{ modelDepartamento }}</p>
            <p> Provincias {{ modelProvincia }}</p>
            <p> Distrito {{ modelDistrito }}</p>
        </div>

    </body>
</html>