// Created by santiago on 16/01/15.
extends ../layout
block content
    h1= title
    div(ng-init="mostrarProducto()")
        table.table-responsive
            tr
                th Identificador
                th Descripción
                th Grupo
                th &nbsp;
                th &nbsp;
                    tr(ng-repeat= "dato in datoCiclo | orderBy: 'num_grupo' ")
                        td {{dato.id_producto}}
                        td {{dato.desc_producto}}
                        td {{dato.num_grupo}}
                        td
                            a(href='/producto', class='btn btn-primary') Editar
                        td
                            //a.btn.btn-danger(href='/producto/eliminar/'+dato.id_producto) Eliminar
                            a(href='/producto', class='btn btn-primary') Eliminar
    br
    legend Agregar Nuevo Producto
    //button.btn.btn-primary(type='submit' ng-click="Save()") Agregar
    br
    button.btn.btn-primary(type='submit' ng-click="ShowForm()" ng-hide="formVisibility") Agregar
    div(ng-show="formVisibility" )
        input(name="desc_producto", class="form-control", ng-model="ndesc_producto" )
        label Número de Grupo
        select(ng-model="nnum_grupo" ng-options="g.num_grupo as g.desc_grupo for g in datoCicloGrupo")
            //option(ng-repeat="g in datoCicloGrupo", value=" {{g.num_grupo.selected}} " ng-model="nuevoProducto.num_grupo", selected="{{g.num_grupo}}") {{g.num_grupo}} --> {{g.desc_grupo}}
        button.btn.btn-primary(type='submit' ng-click="Save()") Guardar