// Created by santiago on 16/01/15.
extends ../layout
block content
    h1= title
    div(ng-init="mostrarProducto()", ng-grid="gridOptions")
        table.table.table-striped
            tr
                th Identificador
                th Descripción
                th Grupo
                th &nbsp;
                th &nbsp;
                    tr(ng-repeat= "dato in datoCiclo | orderBy: 'num_grupo' " ng-model="nid_producto")
                        td {{dato.id_producto}}
                        td {{dato.desc_producto}}
                        td {{dato.num_grupo}}
                        td
                            button.btn.btn-primary(type='submit' ng-click="eProducto(dato.id_producto, dato.desc_producto, dato.num_grupo)") Editar
                        td
                            button.btn.btn-danger(type='submit' ng-click="eliminarProducto(dato.id_producto)") Eliminar
    div(ng-show="formVisibility2")
        legend Editar Producto
        label(ng-model="n2id_producto") Codigo de producto: {{n2id_producto}}
        //input(name="id_producto" class="form-control" ng-model="n2id_producto" )
        input(name="desc2_producto" class="form-control" ng-model="n2desc_producto" )
        label Número de Grupo
        select(ng-model="n2num_grupo" ng-options="g.num_grupo as g.desc_grupo for g in datoCicloGrupo")
        button.btn.btn-primary(type='submit' ng-click="editarProducto()") Guardar
    br
    legend Agregar Nuevo Producto
    br
    button.btn.btn-primary(type='submit' ng-click="ShowForm()" ng-hide="formVisibility") Agregar Producto
    div(ng-show="formVisibility")
        label Ingrese descripcion del producto
        input(name="desc_producto" class="form-control" ng-model="ndesc_producto" )
        label Número de Grupo
        select(ng-model="nnum_grupo" ng-options="g.num_grupo as g.desc_grupo for g in datoCicloGrupo")
        button.btn.btn-primary(type='submit' ng-click="Save()") Guardar

    //div(ng-show="formVisibility2")
        label Editar Producto
        input(name="id_producto" class="form-control" ng-model="n2id_producto" )
        input(name="desc2_producto" class="form-control" ng-model="n2desc_producto" )
        label Número de Grupo
        select(ng-model="n2num_grupo" ng-options="g.num_grupo as g.desc_grupo for g in datoCicloGrupo")
        button.btn.btn-primary(type='submit' ng-click="editarProducto()") Guardar