//Created by santiago on 16/01/15
extends ../layout
block content
    h1= title
    //#h2 Listado de #{lista}
    if (lista)
        table.table-responsive
            tr
                th Identificador
                th Descripción
                th &nbsp;
                th &nbsp;
                each dat in lista
                    tr
                        td #{dat.idproducto}
                        td #{dat.descproducto}
                        td
                            a.btn.btn-default(href='/surveys/edit') Editar
                        td
                            form(method='post', action='/surveys/delete')
                            input(name='_method', value='DELETE', type='hidden')
                            button.btn.btn-danger(type='submit') Delete
    else
        p No tiene ningún elemento